/*!
 * Roots 6.5.2
 */

/* @import "bootstrap/bootstrap.less"; */
@import "semanticui/semantic.min.less";

@grey: #363636;
@blue: #0599B0;
@green: #A4BD0A;
@orange: #FFA615;
@red: #FF2E00;

/* ==========================================================================
   Base
   ========================================================================== */

body {
	background-color: #eee;
	font-family: "proxima-nova";
	color: @grey;
	margin: 0;
}

a {
	text-decoration: none !important;
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */

.content {
	margin: auto;

}

/* ==========================================================================
   Primary Content
   ========================================================================== */



.main {

	width: 100%;
	margin: auto;
	position: fixed;

	article {

		background-color: #fff;
		bottom: 1px solid #eee;

		&:hover {
			cursor: default !important;
		}

		&.inspace {
			position: absolute !important;
			max-height: 500px;
			overflow: hidden;
			transition: max-height 1s, color 1s;

			&:hover {
				color:#000 !important;
				max-height: 1800px;
			}
		}

		h1,h2 {
			font-family: "proxima-nova";
			color: @grey;
			margin: 0;
			text-decoration: none;
		}

		.meta {
			font-weight: normal;
			font-size: .8em;
			margin: 0;
			text-align: left !important;
			float:none !important;
			margin-bottom: 0;

			time,auteur {
				display: inline-block;
			}

			auteur {
				float: right;
				a {
					color: @grey;
				}
			}
		}

		.entry-summary {
			width:100%;
			overflow: hidden;


			embed, img, video {
				max-width: 100%;
				height: auto;
			}

			a {
				word-break: break-all;
			}

			.gmail_quote, .gmail_extra {
				display: none;
			}

			&[data-auteur="1"] {}

		}

	}

	.backgrid {
		position: absolute;
		top: 0;
		margin-left: 5%;
		width: 90%;
		z-index: -1;

		hr {
			border:none;
			border-bottom: 1px solid #fff;
			margin: 0;
			height: 60px;
		}
	}
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



// page Story
.story {
	.main {
		width: 100%;

		article.item {
			position: relative !important;
			top: 0 !important;
			left: 0 !important;
			vertical-align: top;
			display: inline-block;
		}
	}

}

// page Flux
.flux {

	#content {

		width:90%;
		margin: auto;

		.main {


			#timeline {

				position: relative;
				display: inline-block;
				height: 100vh;
				width: 10%;
				margin: auto;
				overflow: scroll;
				vertical-align: top;

				#scrollZone {
					height: 24000px;
					width: 100%;
					position: relative;
					z-index: 5;
				}

				.container {

					position: fixed;
					top:0;
					width: 100px;
					height: 100%;
					border:1px solid #eee;

					#navID {
						position: absolute;
						background-color: #333;
						width:150px;
						height:2px;
						margin-left: -25px;
						z-index: 0;
					}

					.element {
						height:15px;
						width: 33%;
						min-height: 2px;
						position: absolute;
						background-color: rgba(150,150,150,.4);
						//border: 3px solid @green;
						border-top: 0px solid #aaa;
						transition: all .3s;

						&.active {
							background-color: @orange;
						}

						&::before {

						}

						&[data-auteur='2'] {
							margin-left: 25%;
							border-color: @orange;
						}
						&[data-auteur='3'] {
							margin-left: 50%;
							border-color: @red;
						}
						&[data-auteur='4'] {
							margin-left: 75%;
							border-color: @blue;
						}

					}
				}
			}

			#cropwindow {
				height: 800px;
				height: 100vh;
				display: inline-block;
				max-width: 700px;
				width: 44%;
				margin: auto;
				position:relative;
				overflow: scroll;
				vertical-align: top;

				#cropcontent {

					position: relative;
					transition: all .3s ease-out;

					article {
						max-width: 700px;
						margin: auto;
						padding: 15px;
						margin-bottom: 15px;


						&.active {
							background-color: #333;
							color:#fff;

							span {
								color:#fff;
							}

							h2 {
								color: #fff;
							}
						}

						.gmail_extra {
							display: none;

						}

						.alignleft {
							float: none;
						}

						&:first-child {


						}
					}
				}

			}

			#attachmentCol {
				width: 45%;
				height: 100vh;
				overflow: scroll;
				vertical-align: top;
				position: relative;
				display: inline-block;

				img {
					max-width: 100%;
					height: auto;
				}
			}
		}
	}
}


/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

