/*!
 * Roots 6.5.2
 */

/* @import "bootstrap/bootstrap.less"; */
@import "semanticui/semantic.min.less";

@grey: #363636;
@blue: #0599B0;
@green: #A4BD0A;
@orange: #FFA615;
@red: #FF2E00;

/* ==========================================================================
   Base
   ========================================================================== */

body {
	background-color: #eee;
	font-family: "proxima-nova";
	color: @grey;
	margin: 0;
}

a {
	text-decoration: none !important;
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */

.content {
	margin: auto;

}

/* ==========================================================================
   Primary Content
   ========================================================================== */



.main {

	width: 100%;
	margin: auto;
	position: fixed;

	article {

		background-color: #fff;
		bottom: 1px solid #eee;

		&:hover {
			cursor: default !important;
		}

		&.inspace {
			position: absolute !important;
			max-height: 500px;
			overflow: hidden;
			transition: max-height 1s, color 1s;

			&:hover {
				color:#000 !important;
				max-height: 1800px;
			}
		}

		h1,h2 {
			font-family: "proxima-nova";
			color: @grey;
			margin: 0;
			text-decoration: none;
		}

		.meta {
			font-weight: normal;
			font-size: .8em;
			margin: 0;
			text-align: left !important;
			float:none !important;
			margin-bottom: 0;

			time,auteur {
				display: inline-block;
			}

			auteur {
				float: right;
				a {
					color: @grey;
				}
			}
		}

		.entry-summary {
			width:100%;
			overflow: hidden;


			embed, img, video {
				max-width: 100%;
				height: auto;
			}

			a {
				word-break: break-all;
			}

			.gmail_quote, .gmail_extra {
				display: none;
			}

			&[data-auteur="1"] {}

		}

	}

	.backgrid {
		position: absolute;
		top: 0;
		margin-left: 5%;
		width: 90%;
		z-index: -1;

		hr {
			border:none;
			border-bottom: 1px solid #fff;
			margin: 0;
			height: 60px;
		}
	}
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



// page Story
.story {
	.main {
		width: 100%;

		article.item {
			position: relative !important;
			top: 0 !important;
			left: 0 !important;
			vertical-align: top;
			display: inline-block;
		}
	}

}

// page Flux
.flux {

	#content {

		width:100%;
		margin: auto;

		.main {

			#timeline {

				position: relative;
				display: inline-block;
				height: 100vh;
				width: 15%;
				margin: auto;
				overflow: scroll;
				vertical-align: top;
				margin-right:5%;
				background-color: #ddd;

				#scrollZone {
					height: 24000px;
					width: 100%;
					position: relative;
					z-index: 5;
				}

				.container {

					position: fixed;
					top:0;
					width: 8%;
					height: 100%;
					left: 7.5%;

					#navID {
						position: absolute;
						background-color: #555;
						width: 150%;
						height: 2px;
						margin-left: -72.5%;
						z-index: 0;
					}

					.element {
						height:2px;
						width: 35%;
						min-height: 2px;
						position: absolute;
						top: 0;
						background-color: rgba(150,150,150,.4);
						//border: 3px solid @green;
						border-top: 0px solid #aaa;
						transition: all .3s;
						margin-left: -55%;

						transition: top 0s ease-out, height .8s ease-out, color .8s ease-out, opacity .8s;

						.js & {
							opacity: 0;
						}

						&.active {
							background-color: rgb(255, 46, 0, 1);
							transition: top .4s ease-out, height .4s .6s ease-out, color 0s ease-out, opacity .8s .2s;
						}

						&::before {

						}

						&[data-auteur='2'] {
							margin-left: -30%;
						}
						&[data-auteur='3'] {
							margin-left: -5%;
						}
						&[data-auteur='4'] {
							margin-left: 20%;
						}

					}
				}
			}

			#cropwindow {
				height: 800px;
				height: 100vh;
				display: inline-block;
				max-width: 700px;
				margin: auto;

				width: 40%;
				margin-right: 5%;

				position:relative;
				overflow: scroll;
				vertical-align: top;

				#cropcontent {

					position: relative;
					transition: all .3s ease-out;

					article {
						max-width: 700px;
						margin: auto;
						padding: 25px;
						padding-top: 25px;
						padding-bottom: 50px;
						margin-bottom: 25px;


						&.active {

							h2 {
								color: @red;
							}

							.meta {
								auteur {
									color: @red;
									float: none;
									margin-left: 0;


								}
								time {
									color: @red;
								}

							}

						}

						.meta {

							&[data-auteur='2'] {
								margin-left: 25%;
							}
							&[data-auteur='3'] {
								margin-left: 50%;
							}
							&[data-auteur='4'] {
								margin-left: 75%;
							}

							margin-bottom: 15px;

							auteur {
								float: none;
								margin-left: 0;
								display: block;

							}
							time {
								float: none;
								display: block;
							}
						}

						p, span {
							font-size: 1rem;
						}

						a {
							color: @orange;
						}

						.gmail_extra {
							display: none;

						}

						.alignleft {
							float: none;
						}

						&:first-child {


						}
					}
				}

			}

			#attachmentCol {

				width: 30%;
				margin-right: 0;

				height: 100vh;
				overflow: scroll;
				vertical-align: top;
				position: relative;
				display: inline-block;

				a {

					display: block;
					opacity:.4;

					&.active {
						opacity:1;


					}

					&:hover {
						opacity:1;
					}

					img {
						max-width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}

footer {
	display: none;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

